[submodule "pp_cmd_reps/pp_cmd_rename"]
	path = pp_cmd_reps/pp_cmd_rename
	url = ../pp_cmd_rename.git
[submodule "pp_cmd_reps/pp_cmd_orderby"]
	path = pp_cmd_reps/pp_cmd_orderby
	url = ../pp_cmd_orderby.git
[submodule "pp_cmd_reps/pp_cmd_head"]
	path = pp_cmd_reps/pp_cmd_head
	url = ../pp_cmd_head.git
[submodule "pp_cmd_reps/otl_v1"]
	path = pp_cmd_reps/otl_v1
	url = ../otl_v1_compatibility_command.git
